.found-item-page {
    padding: 10px;
    text-align: center;
}

.found-item-page input {
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    width: 25%;
    padding: 13px;
    font-weight: 500;
}

.found-item-page button {
    color: #111827;
    font-size: medium;
    font-weight: 600;
    height: 45px;
    width: 180px;
    margin-left: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #e0e7ff;
}

.found-items-master {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    padding: 12px 16px;
}

